


@model LibraryMvc.Models.Book
@{
    ViewData["Title"] = "Book";
}

<h1>Update your Book</h1>
<hr>
@using (Html.BeginForm())
{
    <div class="form-group">

        <label for="Title">Title</label>
        <input name="Title" type="text" class="form-control" value="@Model.Title" required>
        <label for="Genre">Genre</label>
        <input name="Genre" type="text" class="form-control" value="@Model.Genre" required>
      @*   @Html.Label("Select Author")
    @Html.DropDownList("AuthorId")*@


    </div>

    <input type="submit" value="Save Changes" class="btn btn-primary"/><br><br>
    @Html.ActionLink("Cancel", "Index")
}