@{
    Layout = "_Layout";
    ViewData["Title"] = "Book";
}

@model IEnumerable<LibraryMvc.Models.Book>

<h2>All Books</h2>
<hr />

@foreach (var book in Model)
{
    <ul>
        <img class="card-img-top imageThumbnail" style = "min-width: 2rem; max-width:4%;" src="@Url.Content("~/img/Book.png")"/>
         @Html.ActionLink($"{book.Title}", "Details", new { id = book.BookId})
    </ul>
}
<br>
<span style= "font-size: 25px;">&#128072;</span>@Html.ActionLink("Previous", "IndexPrev") | @Html.ActionLink("Next", "IndexNext")<span style= "font-size: 25px;">&#128073;</span>
<hr>
<br>
<button style= "font-size: 13px;">@Html.ActionLink("New Book", "Create")</button>
<button style= "font-size: 13px;">@Html.ActionLink("Return", "Index", "Home")</button>